<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ChromeDevelopKit Setttings</title>
  <link rel="stylesheet" href="app/webkit-sass-material.css">
  <link rel="stylesheet" href="app/style.css">
  <link rel="stylesheet" href="lib/photon/photon.css">
  <script src="lib/vue/vue.min.js"></script>
  <script src="lib/vue/vue-photon.js"></script>
  <!-- <script src="https://cdn.bootcss.com/vue/2.6.6/vue.js"></script> -->
</head>

<body>
  <main id="app">
    <header class="row box-vertical header">
      <button @click="add" class="btn btn-positive btn-large w100 auto">+Add</button>
      <button @click="save" class="btn btn-primary btn-large w100 auto">Save</button>
    </header>
    <div class="body">
      <fieldset class="domain-item" v-for="(item, index) in items" :key="index">
        <legend>Domain: {{ item.domain }}</legend>
        <label class="row">
          <div class="col-20">Domain:</div>
          <div class="column">
            <input class="form-control" placeholder="abc.com" v-model="item.domain" />
          </div>
        </label>
        <label class="row">
          <div class="col-20">Username:</div>
          <div class="column">
            <input class="form-control" placeholder="test5@abcft.com" v-model="item.username" />
          </div>
        </label>
        <label class="row">
          <div class="col-20">Password:</div>
          <div class="column">
            <input class="form-control" placeholder="test1234" v-model="item.password" />
          </div>
        </label>
        <div class="row">
          <label class="col">
            <span>Enable:</span>
            <input type="checkbox" v-model="item.enable" />
          </label>
          <label class="col">
            <span>Debug:</span>
            <input type="checkbox" v-model="item.debug" />
          </label>
        </div>
        <div class="row">
          <div class="col-20">&nbsp;</div>
          <div class="column">
            <button @click="del(index)" class="btn btn-negative btn-large w30 auto">REMOVE</button>
          </div>
        </div>
      </fieldset>
    </div>
  </main>
  <script src="scripts/options.js"></script>
</body>

</html>
